.featured{
    /* width: 100px; */
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
}

/* .featuredItem{ 
    position: relative;
    color: blue;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
} */


/* .featuredImg{
    width: 100%;
    object-fit: cover;
} */

/* .featuredTitles{
    position: absolute;
    bottom: 20px;

}
*/

/* kolor tekstu w caption w karuzeli */
.caption-black h3 {
    color: blue;
  }

/* kolor strzałek - ikon w karuzeli */
/* .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='blue'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>") !important;
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='blue'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>") !important;
} */

/* rozmiar karuzeli */
.custom-carousel-item {
    height: 500px;
    width: 976px;
}

/* .background-image {
    background-image: url('./files/biuroNew.png');
    background-size: cover;
    background-position: center;
  } */

  .obrazekMieszkanie {
    background-image: url('./files/mieszkanieNew.png');
    background-size: cover;
    background-position: center;
 }

 .obrazekDom {
    background-image: url('./files/domNew.png');
    background-size: cover;
    background-position: center;
 }

 .obrazekBiuro {
    background-image: url('./files/biuroNew.png');
    background-size: cover;
    background-position: center;
 }

 .obrazekRemont {
    background-image: url('./files/kontenerNew.png');
    background-size: cover;
    background-position: center;
 }

 .obrazekWynajem {
    background-image: url('./files/wynajemNew.png');
    background-size: cover;
    background-position: center;
 }


  ul {
    list-style: none;
  }

  h1, h4 {
    font-family: 'Georgia', serif;
  }