.navbar{
    height: 150px;
    background-color: #186add;
    display: flex;
    justify-content: center;
  }
  
  .navContainer{
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .logo{
    font-weight: 500;
    margin-left: 20px;
    font-size: 150%;

  }

  .navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color:blue;

  }

  .navItems{
    margin-left: auto;
    margin-right: 20px;
  
  }